{% extends "base.html" %}

{% block titre %}Votre profil{%endblock%}

{% block body %}

<h1>Données associées à votre profil :</h1>
<a href="{{url_for('modification')}}">Modifier vos informations</a>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">{{current_user.user_nom}}</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pseudo</td>
            <td>{{current_user.user_login}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{current_user.user_email}}</td>
        </tr>
    </tbody>
  </table>
    {% if pas_histo == True %}
    <ul class="list-group">
    <li class="list-group-item disabled">Votre historique de recherche :</li>
      <li class="list-group-item">{{histo}}</li>
    </ul>
    {% else %}
  <ul class="list-group">
    <li class="list-group-item disabled">Votre historique de recherche :</li>
    {% for element in histo %}
      <li class="list-group-item">{{element}}</li>
    {% endfor %}
      {% endif %}
  </ul>

{% endblock %}